:root {
  --bulma-field-block-spacing: 0rem;
}

.container {
  width: 250px;
  min-height: 10vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-top {
  margin-top: 0;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.field-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20px;
}

.status-container {
  flex-direction: row;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.location-field {
  display: flexbox;
  flex-direction: column;
  justify-content: flex-start;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
}

.tag-container {
  min-height: 30px;
  gap: 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tag {
  font-size: 0.9rem;
  border-radius: 0rem;
  font-weight: 500;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.container-below {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.button-container button {
  padding: 0.35rem 1.25rem;
  border-radius: 0.125rem;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: black 0px 1px 0px;
  color: #ffffff;
}

.label:not(:last-child) {
  margin-bottom: 0;
}

#locationId,
#start-date,
#end-date {
  min-width: 100px;
  padding: 5px;
}

#locationId {
  width: 100%;
}

.is-success,
#running {
  background-color: #008f00;
}

.is-danger,
#stopped {
  background-color: #ff0000;
}

#nothing {
  background-color: #636363;
  display: flex;
}

.errorMessage {
  color: #ff0000;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  display: none;
  justify-content: flex-end;
}
