.container {
  width: 250px;
  min-height: 10vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-top {
  margin-top: 0;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
}

.tag-container {
  min-height: 30px;
  gap: 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tag {
  padding: 0.45rem 1rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  font-weight: 500;
}

.container-below {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.button-container button {
  padding: 0.35rem 1.25rem;
  border-radius: 0.125rem;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: black 0px 1px 0px;
}

.label:not(:last-child) {
  margin-bottom: 0;
}

#locationId,
#start-date,
#end-date {
  min-width: 100px;
  padding: 5px;
}
